<div id="login-page" class="row" style="margin-top: 5rem;">
 <div class="row">
    <div class="col s12 center">
      <h3 class="center">
        <span class="grey-text text-darken-1">Devo abastecer com</span>
      </h3>
      <h3 class="center">
        <span class="green-text text-accent-3" style="font-size">ÁLCOOL</span> 
        <span class="grey-text text-darken-1">ou</span> 
        <span class="red-text text-accent-3">GASOLINA?</span>
      </h3>
    </div>
  </div>

  <div class="col s12 z-depth-6 card-panel">
    <form class="login-form" style="margin-top: 2rem;">

      <div class="row margin">
        <div class="col s4">
          <%= image_tag '/icon-alcool.png', class: 'responsive-img'%>
        </div>

        <div class="input-field  col s8">
          <input class="validate" id="alcool" type="number" step="0.01">
          <label for="alcool" data-error="wrong" data-success="right" class="center-align">Preço do Álcool</label>
        </div>
      </div>

      <div class="row margin">
          <div class="col s4">
            <%= image_tag '/icon-gasolina.png', class: 'responsive-img'%>
          </div>

          <div class="input-field col s8">
            <input id="gasolina" type="number" step="0.01">
            <label for="gasolina" data-error="wrong" data-success="right" class="center-align">Preço da Gasolina</label>
          </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <a id="btn_calcular" class="waves-effect waves-light btn-large offset-s2 col s8 blue accent-2">CALCULAR</a>
        </div>
      </div>

       <div id="div_resultado" class="row margin" style="margin-top: 2rem;">
        <hr>
       <div class="input-field col s8">
        <p style="font-size: 1.4rem;">
          <span class="grey-text text-darken-1">É mais ecônomico</span>
          <span class="grey-text text-darken-1">abastecer com </span>
          <span id="resultado"></span>
        </p>
       </div>
      </div>

    </form>
  </div>

  <div class="row">
    <div class="input-field col s4 m4 l4">
    </div>
    <div class="input-field col s8 m8 l8">
       <%= image_tag '/logo.png', class: 'responsive-img'%>
    </div>
  </div>
</div>