<div id="login-page" class="row">
 <div class="row">
    <div class="input-field col s12 center">
      <p class="center login-form-text">Devo abastecer com</p>
       <p class="center login-form-text">ÁLCOOL ou GASOLINA?</p>
    </div>
  </div>

  <div class="col s12 z-depth-6 card-panel">
    <form class="login-form">
      <div class="row margin">
      <div class="col s2">
         <%= image_tag '/icon-alcool.png', class: 'img-fluid logo-box'%>
        </div>
        <div class="input-field offset-s2 col s6">
          <i class="mdi-social-person-outline prefix"></i>
          <input class="validate" id="alcool" type="number">
          <label for="alcool" data-error="wrong" data-success="right" class="center-align">Preço do Álcool</label>
        </div>
      </div>
      <div class="row margin">
        <div class="col s2">
         <%= image_tag '/icon-gasolina.png', class: 'img-fluid logo-box'%>
        </div>
        <div class="input-field offset-s2 col s6">
          <i class="mdi-action-lock-outline prefix"></i>
          <input id="gasolina" type="number">
          <label for="gasolina">Preço da Gasolina</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a class="waves-effect waves-light btn-large offset-s2 col s8 blue accent-2">CALCULAR</a>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="input-field col s6 m6 l6">
    </div>
    <div class="input-field col s6 m6 l6">
       <%= image_tag '/logo.png', class: 'img-fluid logo-box'%>
    </div>
  </div>
</div>